@keyframes slideToRight {
    from {
        position: relative;
        left: 0;
    }

    to {
        position: relative;
        left: 100px;
    }
}

@keyframes showToHide {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

