{% load static %}

<html>
    <head>
        <title>SecHack365 0603</title>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static './css/anime.css' %}">
        <link rel="stylesheet" href="{% static './css/style.css' %}">
    </head>
    <body>
        <div class="center">
            <p>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fab fa-usb"></i>
            </p>

            <p>USBを接続してください</p>
            <a href="another/">To another page</a>
        </div>
    </body>
</html>

